<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313126044822-t00qlbnkr7vjqnmjkvi5tsk6pvp95j99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313126044822-t00qlbnkr7vjqnmjkvi5tsk6pvp95j99</string>
	<key>API_KEY</key>
	<string>AIzaSyBsBeVz533rYjmyMkQoizPB64opHt8WVyU</string>
	<key>GCM_SENDER_ID</key>
	<string>313126044822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DariiaV.MusicPlayer</string>
	<key>PROJECT_ID</key>
	<string>musicplayer-de57b</string>
	<key>STORAGE_BUCKET</key>
	<string>musicplayer-de57b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313126044822:ios:bec435aa81829b3d7c6eb7</string>
</dict>
</plist>